.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.App-header {
  background-color: #222;
  height: auto;
  min-height: 100vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.App-title {
  font-size: 3.5rem;
  color: #fff; }
  @media (min-width: 1025px) {
    .App-title {
      font-size: 7.5rem; } }

.App-intro {
  font-size: large; }

.App-wrapper {
  flex-grow: 1; }
