html {
  position: relative;
  height: 100%;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "GothamPro", sans-serif; }
  @media only screen and (min-width: 769px) {
    html {
      font-size: 16px; } }

body {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  min-width: 320px;
  background: #fff;
  color: #000;
  font-family: "GothamPro", sans-serif; }

*,
:after,
:before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

pre {
  padding: 1.2em;
  tab-size: 4;
  border-width: 0;
  white-space: pre-wrap;
  background: #eee;
  word-wrap: break-word; }

img,
svg {
  max-width: 100%;
  height: auto; }

small {
  display: inline-block;
  vertical-align: text-bottom; }

svg {
  pointer-events: none; }

hr {
  border-width: 0;
  border-top: 1px solid #a2a2a2; }

::selection {
  text-shadow: none;
  color: #fff;
  background: #2597ff; }

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #2597ff; }

::-ms-selection {
  text-shadow: none;
  color: #fff;
  background: #2597ff; }

input,
textarea {
  box-shadow: none;
  border-radius: 0; }

._clear {
  clear: both; }

.switch-wrapper {
  position: relative;
  height: 100%; }

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%; }

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.App-header {
  background-color: #222;
  height: auto;
  min-height: 100vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.App-title {
  font-size: 3.5rem;
  color: #fff; }
  @media (min-width: 1025px) {
    .App-title {
      font-size: 7.5rem; } }

.App-intro {
  font-size: large; }

.App-wrapper {
  flex-grow: 1; }

.NewsContent {
  padding-top: 100px; }
