$xs: 360px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$breakpoints: (
	xs: $xs,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl
);

$font-size-base: 16px;
$font-primary: 'GothamPro', sans-serif;

// to change
$text-color: #000;
$color-primary: #ff9000;
$color-secondary: #df4a27;
$color-tertiary: #000;
$color-red: #f50;
$color-green: #87d068;
$color-purple: #000;
$color-gray: #a2a2a2;